.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}

.h1 {
  font-size: 1em;
}

.arrow {
  color: #f4f4e4;
  font-size: 30px;
}

.iconPicture {
  text-align: center;
}

.account_name {
  padding-left: 32px;
  align-items: center;
  margin: 0%;
}



.usericonTextContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 8px;
}

.iconTextContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-bottom: 0%;
  padding-left: 10px;
}

.profile1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 252px;
  height: 182px;
}

.post{
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: path(
    "M33.0533 176.167C38.0457 179.729 44.0363 181.5 51 181.5L201 181.5C207.964 181.5 213.954 179.729 218.947 176.167C223.941 172.604 226.5 168.266 226.5 163.162L226.5 67.7766C234.125 64.4957 240.187 60.1471 244.667 54.7208C249.212 49.2151 251.5 43.196 251.5 36.676C251.5 26.6664 246.493 18.1293 236.603 11.0728C226.715 4.01739 214.839 0.5 201 0.5L51 0.5C37.1613 0.5 25.2853 4.01739 15.3971 11.0728C5.50739 18.1293 0.5 26.6664 0.5 36.676C0.5 43.196 2.78799 49.2151 7.33316 54.7208C11.8128 60.1471 17.8751 64.4957 25.5 67.7766L25.5 163.162C25.5 168.266 28.0595 172.604 33.0533 176.167Z"
  );
  /* SVGのclipPathを指定 */
}

.profile2 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flame1{
  width:166px;
  height:150px;
}

.flame2{
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: path(
    "M40 4H126C145.882 4 162 20.1177 162 40V109.113C162 128.995 145.882 145.113 126 145.113H40C20.1178 145.113 4 128.995 4 109.113V40C4 20.1178 20.1178 4 40 4Z"
  );
  /* SVGのclipPathを指定 */
}

.date {
  text-align: center;
}

.week_asagohan {
  width: 100%;
  overflow-x: scroll;
}

.weeklyAsagohan {
  width: 100%;
  margin: 0;
}

.scroll {
  display: flex;
}

.main ol {
  /* font-family: var(--font-geist-mono); */
  padding-left: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  list-style-position: inside;
}

.main li:not(:last-of-type) {
  margin-bottom: 8px;
}

.main code {
  /* font-family: inherit; */
  background: var(--gray-alpha-100);
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 600;
}

.ctas {
  display: flex;
  gap: 16px;
}

.ctas a {
  appearance: none;
  border-radius: 128px;
  height: 48px;
  padding: 0 20px;
  border: none;
  border: 1px solid transparent;
  transition:
    background 0.2s,
    color 0.2s,
    border-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

a.primary {
  background: var(--foreground);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--gray-alpha-200);
  min-width: 180px;
}

.footer {
  grid-row-start: 3;
  display: flex;
  gap: 24px;
}

.footer a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer img {
  flex-shrink: 0;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .main {
    align-items: center;
  }

  .main ol {
    text-align: center;
  }

  .ctas {
    flex-direction: column;
  }

  .ctas a {
    font-size: 14px;
    height: 40px;
    padding: 0 16px;
  }

  a.secondary {
    min-width: auto;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}
