:root {
  --primary: #402011;
  --secondary: #605b58;
  --light: #f4f2e4;
}

html,
body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  color: var(--light);
  background: var(--primary);
  margin: 0px !important;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
